---


interface Props {
	label: string;
	value: string;
	width?: string;
	options: Array<{
		label: string;
		value: string;
		selected: boolean;
	}>;
}
const { width, label,  value, options } = Astro.props
---

<label style={`--select-width: ${width}`}>
	<span class="sr-only">{label}</span>
	<select value={value}>
		{
			options.map(({ value, selected, label }) => (
				<option value={value} selected={selected} set:html={label} />
			))
		}
	</select>
</label>


